# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
#   parameters:
#       translator_arg: translator

# services:
#     service_name:
#         class: AppBundle\Directory\ClassName
#         arguments: ["@another_service_name", "plain_value", "%parameter_name%"]
# services:
#         service_name: blog.twig.plural_extension
#                     class: Blog\CoreBundle\TwigExtensions\TransPlural
#                     arguments: [@translator]
#                     tags:
#                     - { name: twig.extension }

services:

    author_manager:
        class: Blog\CoreBundle\Services\AuthorManager
        arguments: ["@doctrine.orm.entity_manager"]
    
    post_manager:
        class: Blog\CoreBundle\Services\PostManager
        arguments: ["@doctrine.orm.entity_manager"]

    blog.twig.plural_extension:
        class: Blog\CoreBundle\TwigExtensions\TransPlural
        public: false
        arguments: ["@translator"]
        tags:
            - { name: twig.extension }