{% extends "CoreBundle::layout.html.twig" %}



{% block content %}

<div class="row">
    
  <div class="col-md-8">


<h3> Welcome to the Post:index page</h3>




{% for post in posts %}


{{ include ('CoreBundle:Post:_post.html.twig', {post: post}) }}


{% endfor %}

</div>

  <div class="col-md-4 bg-success ">
      
      <h2>Latest Post</h2>
      
  {% block sidebar %}    
     
     {% for post in post_latest %}
     
     <p><a href="#">{{post.title}}</a></p>
     
     
     {% endfor %} 
     
     {% endblock %}
      
   </div>


</div>


{% endblock %}

