{% extends "CoreBundle::layout.html.twig" %}

{% block title %}
               Welcome to the Symfony Blog
{% endblock %}




      
              
{% block section %} 

                {% for post in posts %}
                
                   {{ include ('CoreBundle:Post:_post.html.twig', {post: post}) }}
                   
                {% endfor %}
                
{% endblock %}

          
      
{% block sidebar %} 
  
  <h3>Latest Post</h3>
     
     {% for post in post_latest %}
     
          <p><a href="{{post.slug}}">{{post.title}}</a></p>
     
     {% endfor %} 
     
 {% endblock %}
      
     




